<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>


</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <section class="seccion-abmProductos">
        <form action="/products/new" enctype="multipart/form-data" method="POST" class="formulario-abmProductos">
                <h3 class="título-abmProductos">CREACION DE PRODUCTOS</h3>
                
                <div class="etiqueta-abmProductos ">
                    <label for="name">NOMBRE DEL PRODUCTO:</label>
                    <input type="text" name="name" id="name" autofocus>
                </div>

                <% if (locals.errors && errors.name) { %>
                    <div class="errores-backend"><%= errors.name.msg %> </div>
                <% } %>

                <span class="name error-input"></span>
                <div class="etiqueta-abmProductos ">
                    <label for="brand">MARCA:</label>
                    <input type="text" name="brand" id="brand" >
                </div>
                <span class="brand error-input"></span>
                <div class="brand"></div>
                
                <div class="etiqueta-abmProductos">
                    <label for="detail">DESCRIPCION:</label>
                    <input type="text" name="detail" id="detail">
                </div>

                <% if (locals.errors && errors.detail) { %>
                    <div class="errores-backend"><%= errors.detail.msg %> </div>
                <% } %>

                <span class="detail error-input"></span>
                <div class="etiqueta-abmProductos">
                    <label for="gender">GENERO:</label>
                    <input type="text" name="gender" id="gender">
                </div>
                <span class="gender error-input"></span>
                <div class="etiqueta-abmProductos">
                    <label for="price">PRECIO</label>
                    <input type="number error-input" name="price" id="price"> 
                </div>
                <span class="price error-input"></span>
                
                <div class="etiqueta-abmProductos-2">
                    <label for="">TALLE:</label>
                    <div>
                        <%sizes.forEach(size =>{ %>
                            <p>
                                <input type="checkbox" name="size" id="size"  class="input-sizes" value="<%= size.id_size %>">
                                <%= size.size %>
                            </p>
                            <% }) %>
                    </div>
                </div>
                <span class="size error-input"></span>


                <div class="etiqueta-abmProductos-2">
                    <label for="">COLOR:</label>
                    <div>
                        <%colors.forEach(color =>{ %>
                            <p>
                                <input type="checkbox" name="color" id="color"  class="inputform input-colors" value="<%= color.id_color %>">
                                <%= color.color %>
                            </p>
                        <% }) %>
                    </div>
                </div>
                <span class="color error-input"></span>


                <div class="etiqueta-abmProductos">
                    <label>SELECCIONAR IMAGEN:</label>
                    <input class="image" type="file" name="image" accept="jpg" >
                </div>

                <span class="image error-input"></span>
                
                <% if (locals.errors && errors.image) { %>
                    <div class="errores-backend"><%= errors.image.msg %> </div>
                <% } %>
                
                <div class="botones">
                    <div class="boton">
                        <button type="submit">CREAR</button>
                    </div>

                </div>
            </form>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>
    <script src="/js/abmProducts-create.js">

    </script>
</body>
</html>