<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <section class="seccion-abmProductos">
        <form action="/products/edit/<%= productToEdit.id_product %>?_method=PUT" enctype="multipart/form-data" method="POST" class="formulario-abmProductos">
                <h3 class="título-abmProductos">EDICION DE PRODUCTOS</h3>
                <div class="etiqueta-abmProductos">
                    <label for="name">NOMBRE DEL PRODUCTO:</label>
                    <input type="text" name="name" id="name" value="<%= productToEdit.name %>" required>
                </div>
                <div class="etiqueta-abmProductos">
                    <label for="brand">MARCA:</label>
                    <input type="text" name="brand" id="brand" value="<%= productToEdit.brand %>"  required>
                </div>
                <div class="etiqueta-abmProductos">
                    <label for="detail">DESCRIPCION:</label>
                    <input type="text" name="detail" id="detail" value="<%= productToEdit.detail %>"  required>
                </div>
                <div class="etiqueta-abmProductos">
                    <label for="gender">GENERO:</label>
                    <input type="text" name="gender" id="gender" value="<%= productToEdit.gender %>"  required>
                </div>
                <!-- <div class="etiqueta-abmProductos">
                    <label for="size">TALLE:</label>
                    <input type="number" name="size" id="size" value="< productToEdit.sizes[0].size %>"  required> 
                </div> -->
                <div class="etiqueta-abmProductos">
                    <p>TALLE:</p>
                    <%sizes.forEach(size =>{ %>
                        <p><input type="checkbox" name="size" id="size"  class="inputform" value="<%= size.id_size %>" <%=  (size.size == productToEdit.sizes[0].size ) ? "checked" : "" %> > <%= size.size %></p>
                    <% }) %>
                <p ></p>
                </div>
                <div class="etiqueta-abmProductos">
                    <p>COLOR:</p>
                    <%colors.forEach(color =>{ %>
                        <p><input type="checkbox" name="color" id="color"  class="inputform" value="<%= color.id_color %>" <%= (color.color == productToEdit.colors[0].color) ? 'checked' : ''  %>  ><%= color.color %></p>
                    <% }) %>
                <p ></p>
                <!-- </div>
                <div class="etiqueta-abmProductos">
                    <label for="color">COLOR:</label>
                    <input type="text" name="color" id="color" value="< productToEdit.colors[0].color %>"  required>
                </div> -->
                <div class="etiqueta-abmProductos">
                    <label for="price">PRECIO</label>
                    <input type="number" name="price" id="price" value="<%= productToEdit.price %>"  required> 
                </div>
                <div class="etiqueta-abmProductos">
                    <label>SELECCIONAR IMAGENES:</label>
                    <input type="file" name="image" accept="jpg" value="<%= productToEdit.image %>"  multiple >
                </div>
                <div class="botones">

                    <div class="boton">
                        <button type="submit">EDITAR</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>

</body>
</html>