<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <main class="main-login">
        <!-- //PANTALLA DE LOGUEO -->
        <section class="asistencia">
            <p>Necesitas asistencia? escribinos a eshop@snkr.com.ar</p>
        </section>
        <section class="login">
            <form action="/users/login" method="POST" class="ingresar">
                <div class="titulo">
                    <h4>INGRESAR</h4>
                </div>
                <div class="detalle-formulario">
                    <label for="mail">E-mail:</label>
                    <input class="detalle-formulario-input" type="mail" name="mail" id="mail" required>
                    <% if (locals.errors && errors.email) {  %>
                        <div class="error-login">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="detalle-formulario">
                    <label for="password">Password:</label>
                    <input class="detalle-formulario-input" type="password" name="password" id="password" >
                    <% if ( locals.errors && errors.password) {  %>
                        <div class="error-login">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="detalle-formulario">
                    <label for="rememberUser">Recordar mi usuario</label>
                    <input class="cajitaRecordarUsiario" type="checkbox" name="rememberUser" id="rememberUser" >
                    
                </div>
                <div class="boton">
                    <button type="submit">ACCEDER</button>
                </div>
            </form>
            <div class="crear-cuenta">
                <label>¿No tenés usuario?</label>
                <div class="boton"> 
                    <button >
                        <a href="/users/register">
                            REGISTRATE
                        </a>
                    </button>
                    </div>
                </div>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>


</body>
</html>