<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>


    
    <main>
        <section class="filtrosBusqueda">
            <div class="filtrosAplicados">
                <span>SNKR <i class="fas fa-arrow-right"></i> RESULTADO BUSQUEDA</span>
            </div>
            <div class="filtrosAplicados">
            <form action="/list/productobuscado" method="GET">
                <label>ORDENAR POR</label>
                <select name="ordenar">
                    <option value="masVendidos">M치s vendidos</option>
                    <option value="nuevoLanzamiento">Nuevos lanzamientos</option>
                    <option value="precioMasBajo">Precio m치s bajo</option>
                    <option value="precioMasAlto">Precio m치s alto</option>
                </select>
            </form>
            </div>
        </section>

        <hr class="separacionFiltrosProducto">

        <div class="mainBox">
            <section class="filtrosProductos">
                <label class="tituloFiltros">MARCA</label>
                <div class="boxFiltros">
                    <form action="/list/productobuscado" method="GET">
                        <input type="checkbox" name="marca" value="nike">
                        <label for="marca">Nike</label><br>
                        <input type="checkbox" name="marca" value="adidas">
                        <label for="marca">Adidas</label><br>
                        <input type="checkbox" name="marca" value="puma">
                        <label for="marca">Puma</label><br>
                        <input type="checkbox" name="marca" value="reebok">
                        <label for="marca">Reebok</label><br>
                    </form>
                </div>
                <label class="tituloFiltros">TALLE</label>
                <div class="boxFiltros">
                    <div>
                        <form action="/list/productobuscado" method="GET">
                            <input type="checkbox" name="talle" value="35">
                            <label for="talle">35</label><br>
                            <input type="checkbox" name="talle" value="36">
                            <label for="talle">36</label><br>
                            <input type="checkbox" name="talle" value="37">
                            <label for="talle">37</label><br>
                            <input type="checkbox" name="talle" value="38">
                            <label for="talle">38</label><br>
                            <input type="checkbox" name="talle" value="39">
                            <label for="talle">39</label><br>
                            <input type="checkbox" name="talle" value="40">
                            <label for="talle">40</label><br>
                            <input type="checkbox" name="talle" value="41">
                            <label for="talle">41</label><br>
                            <input type="checkbox" name="talle" value="42">
                            <label for="talle">42</label><br>
                            <input type="checkbox" name="talle" value="43">
                            <label for="talle">43</label><br>
                            <input type="checkbox" name="talle" value="44">
                            <label for="talle">44</label><br>
                    </div>
                    <div class="tallesIntermedios">
                        <input type="checkbox" name="talle" value="35.5">
                        <label for="talle">35.5</label><br>
                        <input type="checkbox" name="talle" value="36.5">
                        <label for="talle">36.5</label><br>
                        <input type="checkbox" name="talle" value="37.5">
                        <label for="talle">37.5</label><br>
                        <input type="checkbox" name="talle" value="38.5">
                        <label for="talle">38.5</label><br>
                        <input type="checkbox" name="talle" value="39.5">
                        <label for="talle">39.5</label><br>
                        <input type="checkbox" name="talle" value="40.5">
                        <label for="talle">40.5</label><br>
                        <input type="checkbox" name="talle" value="41.5">
                        <label for="talle">41.5</label><br>
                        <input type="checkbox" name="talle" value="42.5">
                        <label for="talle">42.5</label><br>
                        <input type="checkbox" name="talle" value="43.5">
                        <label for="talle">43.5</label><br>
                    </div>    
                    </form>
                </div>
                <label class="tituloFiltros">GENERO</label><br>
                <div class="boxFiltros">
                    <form action="/list/productobuscado" method="GET">
                        <input type="checkbox" name="genero" value="hombre">
                        <label for="genero">Hombre</label><br>
                        <input type="checkbox" name="genero" value="mujer">
                        <label for="genero">Mujer</label><br>
                        <input type="checkbox" name="genero" value="unisex">
                        <label for="genero">Unisex</label><br>
                    </form>
                </div>

                <button class="botonAplicarFiltros">Aplicar filtros</button>
            </section>

            <section class="listadoProductos">

                <% products.forEach(function(producto) { %>
                <article class="cajaProductoRecomendado">
                    <a href="/products/<%= producto.id_product %>">
                    <img class="fotoRecomendados" src="/images/products/<%= producto.image%>">
                    <div>
                        <p class="descripcionRecomendados"><%= producto.name %></p>
                        <p class="precioRecomendados">$<%= producto.price %></p>
                    </div>
                    </a>
                </article>
                
                <% }); %>
                
                <form action="/products" method="GET" class="numeroDePagina">
                <div class="numeroDePagina">
                    <span>P치gina  
                        <select class="botonNumeroDePagina" name="pagina">
                                
                                <% for(let i=1; i<=cantTotalDePaginas; i++){ %>
                                    <% if(i==pagina){%>
                                        <option name="num" value="<%=i%>" selected><%=  i %></option>
                                    <%} else {%>
                                        <option name="num" value="<%=i%>"><%=  i %></option>
                                    <% } %>
                                <%} %>
                        </select>
                    de <%= cantTotalDePaginas %></span>
                </div>
                </form>
                
            
            </section>
        </div>
    </main>






    <footer>
        <%- include ('./partials/footer') %>
    </footer>

    <script src="/js/productList.js"></script>

</body>
</html>