<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <main>
        <section class="asistencia">
            <p>Necesitas asistencia? escribinos a eshop@snkr.com.ar</p>
        </section>
        <!-- <section class="section-carrito">
            <div id="items">
                <div class="titulo">
                    <h3>ITEMS EN TU PEDIDO</h3>
                </div>
                <article class="producto-carrito" >
                    
                    <img src="/images/products/jordan1low.png" alt="altas jordan 1">
                    <div class="detalles-producto">
                        <div class="nombre-producto">
                            <h3 class="item-nombre">Zapatillas Nike Jordan</h3>
                            <h3 class="item-nombre">$11.999</h3>
                            <div class="stock-item">
                                <h4>1</h3>
                                <i class="fas fa-chevron-down fa-10x"></i>
                            </div>
                        </div>
                        <div id="talle-color">
                            <p>Talle: 11 US (equivale a 44 arg)</p>
                            <p>Color: Blanco y rojo</p>
                        </div>
                        <div class="barra"></div>
                        <div id="talle-color">
                            <p>Código: #DA7074-200 | Marca: Nike</p>
                            <p>Disponible en depósito: Pedilo hoy y se despacha en uno o dos días hábiles.</p>
                        </div>
                        <div class="fila-inferior">
                            <div id="quitar-del-carrito">
                                <h4>Quitar del carrito</h4>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div id="resumen">
                <h3 id="titulo-resumen">RESUMEN</h3>
                <div class="linea-resumen">
                    <h4>Subtotal</h4>
                    <p>$11.999</p>
                </div>
                <div class="linea-resumen">
                    <h4>Costo de envio</h4>
                    <p id="envio-gratis"><strong>¡Envío gratis!</strong></p>
                </div>
                <div class="linea-resumen">
                    <h4>Total</h4>
                    <p>$11.999</p>
                </div>
                <div id="proceder-pago">
                    <h4>PROCEDER CON EL PAGO</h4>
                </div>
                <div id="aplicar-cupon">
                    <h4>APLICAR CUPON</h4>
                </div>
            </div>
            
        </section> -->

        <section class="shoping-cart">
            <div class="container-cart">
                <div class="cart-title">
                    <h1>CARRITO </h1>
                </div>
                <div class="container-titles">
                    <div class="product">
                        <h4>Producto</h4>
                        <hr>
                    </div>

                    <div class="price">
                        <h4>Precio</h4>
                        <hr>
                    </div>
                    <div class="amount">
                        <h4>Cantidad</h4>
                        <hr>
                    </div>
                    <div class="subtotal">
                        <h4>Subtotal</h4>
                        <hr>
                    </div>
                    
                </div>
                    <% items.forEach(item =>{ %>
                        <div class="container-items">

                            <div class="product img-h4">
                                <img src= '/images/products/<%= item.image %>' width="70px" />
                                <h4><%= item.product_name %></h4>
                            </div>
                            <div class="price-item">
                                <p> $  <%= item.unit_price %> </p>
                            </div>
                            <div class="amount-item">
                                <input type="number" name="quantity" class="quantity" value="<%= item.quantity %>" >
                            </div>
                            <div class="subtotal-item">
                                <p>  $ <%= item.subtotal %> </p>
                            </div>
                            <form  action="/cart/item/delete/<%= item.id_item %>?_method=DELETE" method="POST" >
                                <button class="boton-delete-cart" type="submit">
                                    <i class="fas fa-trash-alt"></i> 
                                </button>
                            </form>
                            
                        </div>
                    <% }) %> 


                <div class="container2">
                      <h3>TOTAL A PAGAR</h3>
                      <p id="total"> 
                       $ <%= totalPrice %> 
                      </p>
                </div>

                <div class="container3">
                      <form class="botonEnviarRegistro1" action="/cart/order/add" method="POST">
                        <button type="submit" class="pagar-boton">
                          Pagar
                        </button>
                      </form>
                      <button class= "botonEnviarRegistro1">
                        <a href="/products">Seguir comprando</a>
                      </button>
                  </div>

            </div>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>


</body>
</html>