<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %> 
</head>
<body>
    <header>
        <%- include ('./partials/header') %> 
    </header>
    <main class="main-profile">
        <div class="contenedor-profile">
            <h2>Hola <%= user.first_name %> <%= user.last_name %></h2>
            <img src="/images/users/avatars/<%= user.image %>" alt="">
            <p><%= user.email %> </p>
        </div>
    </main>
    <footer>
        <%- include ('./partials/footer') %> 
    </footer>
</body>
</html>







