<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <main>
        <!--FORMULARIO DE REGISTRO-->
        <section class="register"> 
            <form action="/users/register" method="POST" class="formulario-registro" enctype="multipart/form-data">
                <div class="titulo-registro">
                    <h3>FORMULARIO DE REGISTRO</h3>
                </div>
                
                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="usuario">USUARIO</label>
                    <input class="inputsRegistro" type="text" name="usuario" id="usuario" value="<%= locals.oldData ? oldData.usuario : null %> " >
                </div>

                <% if (locals.errors && errors.usuario) { %>
                    <div class="errores-registro"><%= errors.usuario.msg %> </div>
                <% } %>



                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="password">CONTRASEÑA</label>
                    <input class="inputsRegistro" type="password" name="password" id="password" value="<%= locals.oldData ? oldData.password : null %>">
                </div>

                <span class="passwordErr error-input"></span>

                <% if (locals.errors && errors.password) { %>
                    <div class="errores-registro"><%= errors.password.msg %> </div>
                <% } %>



                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="confirmacionPassword">REPITA LA CONTRASEÑA</label>
                    <input class="inputsRegistro" type="password" name="confirmacionPassword" id="rep_password" value="<%= locals.oldData ? oldData.confirmacionPassword : null %>" >
                </div>

                <% if (locals.errors && errors.confirmacionPassword) { %>
                    <div class="errores-registro"><%= errors.confirmacionPassword.msg %> </div>
                <% } %>




               <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="nombre">NOMBRE</label>
                    <input class="inputsRegistro" type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null %>" >
                </div>

                <span class="nombreErr error-input"></span>

                <% if (locals.errors && errors.nombre) { %>
                    <div class="errores-registro"><%= errors.nombre.msg %> </div>
                <% } %>




                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="apellido">APELLIDO</label>
                    <input class="inputsRegistro" type="text" name="apellido" id="apellido" value="<%= locals.oldData ? oldData.apellido : null %>" >
                </div>

                <span class="apellidoErr error-input"></span>

                <% if (locals.errors && errors.apellido) { %>
                    <div class="errores-registro"><%= errors.apellido.msg %> </div>
                <% } %>


               
                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="email">E-MAIL</label>
                    <input class="inputsRegistro" type="email" name="email" id="email" value=" <%= locals.oldData ? oldData.email : null %> ">
                </div>

                <span class="emailErr error-input"></span>

                <% if (locals.errors && errors.email) { %>
                    <div class="errores-registro"><%= errors.email.msg %> </div>
                <% } %>



                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro"> AVATAR </label>
                    <input class="inputsRegistro" type="file" name="avatar" accept=".jpg,.png,.jfif">
                </div>
                
                <span class="avatarErr error-input"></span>

                <% if (locals.errors && errors.avatar) { %>
                    <div class="errores-registro"><%= errors.avatar.msg %> </div>
                <% } %>
                
                <div class="cajaBoton">
                    <button class="botonEnviarRegistro" type="submit">ENVIAR</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>

    <script src="/js/register.js"></script>

</body>
</html>